yt {
    text-align: center;
}
button{
    background-color: #F5B7B1;
    border:0;
    border-radius:10px;
    cursor:pointer;
    font-size: 18px;
}
button:hover{
    color:#F5B7B1;
    background-color:#fff;
    border:2px #F5B7B1 solid;
}
input[type=checkbox] {
    appearance: auto;
}
input[type=range] {
    appearance: auto;
}

